
.container{
    padding-left:30px;
    padding-right:30px;
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3em
}

header{
    display: flex;
    height:100%;
    padding: 90px 50px 0px
}
.photo-frame{
    margin-top: 20px;
    margin-right: 10px;
 }
 
 .social{
     margin-top:10px;
 }
 .social a{
    width:20px;
    height:20px;
    display: inline-flex;
    font-size: 18px;
    color: rgb(91, 92, 100);
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
    text-decoration: none;
}

.social a i{
    transition: 0.3s ease-in;
}

.social a:hover i{
    background: linear-gradient(45deg, #22a6b3, #30336b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.4);

}

.profpic {
     width:150px;
     height:150px;
     display:inline-block;
     margin-right:70px;
     object-fit: contain;
     border-radius: 50%
 }

.description{
    display: flex;
    flex-direction: column;
    justify-items: center
}

.contact{
    display:inline-block
}

.mainbody-wrapper{
    margin-right:150px;
    margin-left:150px
}

.list{
    display: flex;
    flex-direction: column;
}

.list.left{
    float: left;
    padding-right:10px;
}
.list.right{
    float: right;
    padding-left: 5px;
}

.block{
    border: 2.5px solid #000000;
    padding: 10px;
    margin:20px;
    margin-bottom:40px;
    margin-top:40px;
    height:25px;
    width: 75px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    transition: 0.8s;
}
.blocklink{
    display: inline-block
}


.block:hover{
    color: #1ea9d3;
}

.exit{
    text-decoration: underline;
    color: #828588;
}


